@import "tailwindcss";

:root {
  --background: #f5f5f5;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-dana);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-dana), Arial, Helvetica, sans-serif;
}

.category-slide.swiper-slide-next,
.category-slide.swiper-slide-next + .swiper-slide {
  transition: all 0.3s ease;
  transform: translateY(-20px) !important;
}

@media (max-width: 500px) {
  .item-slide.swiper-slide-next {
    transition: all 0.3s ease;
    transform: translateY(55px) !important;
  }

  .item-slide.swiper-slide-prev {
    transition: all 0.3s ease;
    transform: translateY(55px) !important;
  }
}

.swiper-pagination-bullet-active {
  background-color: #fff !important;
  outline: 2px solid #fff;
  outline-offset: 5px;
}

@layer utilities {
  @keyframes slide-up {
    0% {
      opacity: 0;
      transform: translateY(100%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes slide-down {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  @keyframes slide-down {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .animate-slide-up {
    animation: slide-up 0.6s ease-in-out;
  }

  .animate-slide-down {
    animation: slide-down 0.1s ease forwards;
  }

  .animate-fade-in {
    animation: fade-in 0.45s ease-in-out;
  }
}
